<div class="post-show">
  <div class="post-container">
    <h1 class="post-category"><%= @post.category.name %></h1>


    <%= image_tag(@post.image, class: 'post-img') %>
    <h2 class="post-title padding-bottom"><%= @post.title %></h2>
    <div class="post-description padding-bottom">
      <%= @post.description %>
    </div>
    <% if @post.goal > 0 %>
    <div class="post-goal padding-bottom">
      <span>Goal: </span>
      <%= @post.goal %>
    </div>
    <% end %>
    <div class="post-author">
      <div class="author">
        <span>- </span> <%= @post.user.name %>
      </div>
      <% if current_user %>
      <%= render '/posts/interaction', post: @post %>
      <% end %>

    </div>
  </div>


</div>
