
<div class="content">
  <div class="category">
      <span><%= post.category.name %></span>
  </div>
  <div class="title">
      <span><%= post.title %></span>
  </div>

  <div class="description">
    <span><%= post.description %></span>
  </div>
  <div class="user">
    <span>- </span>
    <span><%= post.user.name %></span>
  </div>
  <% if post.goal %>
  <div class="goal">
    <div class="set-goal">
      <span>Goal:</span>

        <span><%= post.goal %></span>
        <span> Paws left</span>


    </div>

    <div class="votes-paws">
      <div class="paws">

        <span><%= post.paws.size %></span>
        <%= paws(post) %>
      </div>
      <div class="votes">
        <span><%= post.votes.size %></span>
        <%= votes(post) %>

      </div>

    </div>

  </div>
  <% end %>


</div>

<div class="image">
  <%= image_tag(post.image, class: 'category-img')%>
</div>
