
<div class="content">
  <div class="category">
      <span class="category-name"><%= post.category.name %></span>
  </div>
  <div class="title">
      <span><%= link_to post.title, post_path(post) %></span>
  </div>

  <div class="description">
    <span><%= post.description %></span>
  </div>
  <div class="user">
    <span>- </span>
    <span class="user-name"><%= post.user.name %></span>
  </div>
  <% if post.goal && post.goal > 0 %>
  <div class="goal">
    <div class="set-goal">
      <div class="">
        <span>Goal:</span>
      </div>

        <span><%= post.goal %></span>
        <span> Paws left</span>


    </div>

    <div class="votes-paws">
      <div class="paws">

        <span><%= post.paws.size %></span>
        <span ><%= paws(post) %></span>

      </div>
      <div class="votes">
        <span><%= post.votes.size %></span>
        <span><%= votes(post) %></span>


      </div>

    </div>

  </div>

  <% else %>
<div class="goal">
  <div class="votes-paws">

    <% if post.paws.any? %>
      <p><%= post.paws.size %> Paws were donated</p>
    <% end %>

    <div class="votes">
      <span><%= post.votes.size %></span>
      <span><%= votes(post) %></span>


    </div>

  </div>
</div>


  <% end %>


</div>
