<div class="main-grid">
  <%= link_to post_path(@most_voted) do %>
  <div class="first-row">
    <h1 class="most-voted-title"><%= @most_voted.title %></h1>
    <%= image_tag(@most_voted.image, class: 'category-img') %>
  </div>
  <% end %>

  <div class="second-row">
    <% @categories.each do |category| %>
      <%= link_to category_path(category), class: 'category' do%>
      <div class="">
        <%= category.name %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
